body {
    background-color: lightgray;
    font-family: Arial;
}

h1 {
    color: blue;
    text-align: center;
}

h2 {
    color: green;
    font-size: 22px;
}

p {
    font-style: italic;
}

img{
    border: 2px solid black;
    border-radius: 10px;
    width: 300px;
}